.App {
  text-align: left;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.App-link {
  color: #61dafb;
}

.comment-section {
  position:absolute;
  overflow: scroll;
  top:20%;
  margin-left: 5%;
  width: 60%;
  height: 50%;
  overflow-x: hidden;
  font-size: medium;
  display: flex;
  flex-direction: column-reverse;
  white-space: normal;
}

.greeting {
  padding-top: 0%;
  margin-top: 0%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}